import(shiny)
import(shinydashboard)
import(shinyalert)
import(shinycssloaders)
import(DESeq2)
import(metaRNASeq)
import(dplyr)
import(ggplot2)
import(ggrepel)
import(ggvenn)
import(ComplexHeatmap)
import(EnhancedVolcano)
import(rbioapi)
import(clusterProfiler)
import(heatmaply)

importFrom(shinyjs, runExample)
importFrom(shinyjs, show)
importFrom(pheatmap, pheatmap)
importFrom(DT, renderDataTable)
importFrom(DT, dataTableOutput)


export(test_exp_design)
export(test_counts)
export(test_match)
export(convertMenuItem)
export(organisms_go)
export(draw_counts)
export(runTMA)